@model Order
@{
    ViewData["Title"] = "CheckOutCart";
    decimal totalPrice = 0;
}

@if (Model == null)
{
    <h1 class="text-danger">هیچ کالایی یافت نشد برای پرداخت !</h1>
}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">نام</th>
      <th scope="col">قیمت</th>
      <th scope="col">تعداد</th>
      <th scope="col">قیمت کل</th>
      <th scope="col">اقدامات</th>
    </tr>
  </thead>
  <tbody>
    @if(Model != null){
        @foreach (var item in Model.OrderDetails)
        {
            <tr>
                <th scope="row">@item.Product.Id</th>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price.GetDiscountPercent(item.Product.DiscountPercent).ToString("n0")</td>
                <td>@item.Quantity</td>
                <td>@(item.Product.DiscountPercent > 0 ?  (item.Quantity * item.Product.Price.GetDiscountPercent(item.Product.DiscountPercent)).ToString("n0") : (item.Quantity * item.Product.Price).ToString("n0"))</td>
                <td class="btn-group">
                    <a class="btn btn-danger" asp-controller="Product" asp-action="Remove" asp-route-id="@item.Product.Id">
                        <i class="fa fa-remove"></i>
                    </a>
                    <a class="btn btn-warning" asp-controller="Product" asp-action="Minus" asp-route-id="@item.Product.Id">
                        <i class="fa fa-minus"></i>
                    </a>
                </td>
            </tr>
            @(totalPrice += item.Product.DiscountPercent > 0 ?  item.Quantity * item.Product.Price.GetDiscountPercent(item.Product.DiscountPercent) : item.Quantity * item.Product.Price);
        }
    }else{
        <tr>
            <th scope="row">پیدا نشد</th>
            <td>پیدا نشد</td>
            <td>پیدا نشد</td>
            <td>پیدا نشد</td>
            <td>پیدا نشد</td>
            <td></td>
        </tr>
    }
  </tbody>
</table>

<h2>قیمت کل : @totalPrice.ToString("n0")</h2>

<form asp-controller="Product" asp-action="Buy" method="post">
    @Html.AntiForgeryToken()
    <button class="btn btn-block btn-success p-2" type="submit">پرداخت مستقیم با زرین پال</button>
</form>

